/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import "/src/scss/variable";

.wp-block-post-title{
	text-align: center;
}

div.wp-block-pj-portfolio-students{
	display: flex;
	max-width: 80%;
	justify-content: center;
	}

div.student {
	background-color: $bg-gray;
}


